@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';

// Categories colors
.news { color: $red;}
.vc-exclusive { color: $aqua;}
.interview { color: $interViewText;}
.photos {color: $photosText;}
.videos {color: $videoText;}
.features {color: $featuresText;}


// Default feed card text settings
.feed-card_text {
    position: absolute;
    z-index: 1;
    bottom: 1.25rem;
    padding-left:30px;
    color:$white;
    .source{
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: 0.2px;
        display: inline-block;
        text-transform: uppercase;
    }
    h3{
        margin-bottom: 0;
        padding-top: 10px;
        font-size: $font-size-xregular;
        font-weight: 500;
        letter-spacing: 0.32px;
        text-transform: uppercase;
    }
    .date{
        font-size: 0.75rem;
    }
}

// Feed card css
.feed-card {
    position: relative;
    border-right:1px solid #000;    
    .source {
        margin-left: 15px;
    }
    h3 {
        margin-top: 5px;
    }
    .shadow {
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
        @media screen and (max-width: 1024px) {
            right: -1px;
            bottom: -1px;
        }
    }
    .ribbon {
        width:10px;
        height:10px;        
        position:absolute;
        top: 9px;
        &:before{
            content: '';
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: -5px;
            border-bottom: 5px solid transparent;
        }
        &.news {
            background-color:$red;
            &:before {
                border-left: 5px solid $red;
                border-right: 5px solid $red;
            }
        }
        &.vc-exclusive {
            background-color: $aqua;
            &:before {
                border-left: 5px solid $aqua;
                border-right: 5px solid $aqua;
            }
        }
        &.interview {
            background-color: $interViewText;
            &:before {
                border-left: 5px solid $interViewText;
                border-right: 5px solid $interViewText;
            }
        }
        &.video-category {
            background-color: $videoText;
            &:before {
                border-left: 5px solid $videoText;
                border-right: 5px solid $videoText;
            }
        }
        &.features-category {
            background-color: $featuresText;
            &:before {
                border-left: 5px solid $featuresText;
                border-right: 5px solid $featuresText;
            }
        }
        &.photos-category {
            background-color: $photosText;
            &:before {
                border-left: 5px solid $photosText;
                border-right: 5px solid $photosText;
            }
        }
    }
    &.feed-card_full{
        .source {
            font-size: $font-size-medium;
        }
        h3{
            font-size: $font-size-large;
            margin-top: 15px;
        }
        .date { font-size: 14px;}
    }
}

// Advertisement section
.avertise-sec{
    margin-top: 15px;
}