$white: #fff;
$black: #000;
$dim-grey: #343a40;
$light-grey: rgba(255, 255, 255, 0.6);
$aqua: #00c1ff;
$dark-grey: #1a1a1a;
$red:#ff0000;
$topMenu:#4f4f4f;
$interViewText:#9600ff;
$videoText:#1eff00;
$advertiseText:#ffe400;
$featuresText:#ff48ab;
$photosText:#00c09a;
$anchor:#00c0ff;
$rightPanelText:rgba(255, 255, 255, 0.5);
$bgColor:#4c1137;
$playNowBtn:#d0258a;