// Font sizes
$font-size-xsmall: 0.5rem;
$font-size-xxsmall: 0.625rem;
$font-size-small: 0.75rem;
$font-size-medium: 0.875rem;
$font-size-xregular: 1rem;
$font-size-regular: 1.125rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.375rem;