@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.right-sidebar {
  @media screen and (min-width: 1024px) {
    padding: 0 0 0 20px;
  }  

  a {
    color: $anchor;
  }
}

//Common Styles 
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.circle {
  border: solid 2px $white;
  border-radius: 50%;
}

.view-all {
  color: $anchor;
  font-size: $font-size-xxsmall;
  text-decoration: underline;
  margin-top: 6px;
}

.m-t-40 {
  margin-top: 40px;
}

.x-auto {
  height: auto !important;
  width: auto !important;
}

//Slider style
.slider-container {
  // float: left;
  // width: 100%;
  margin-bottom: 20px;  
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  .react-multi-carousel-list {
    .react-multiple-carousel__arrow::before {
      font-size: $font-size-small;
    }
  }

  .react-multi-carousel-item {
    width: 100%;
    height: 100%;
    padding-left: 1px;

    &:first-child {
      padding: 0 15px;
    }
  }

  .react-multi-carousel-list {
    position: inherit;
    margin: 0 15px;
  }

  // img {
  //   height: 203px;
  //   width: 100%;
  // }

  .react-multiple-carousel__arrow {
    background: none;
    opacity: 0.7;
    top: 45%;

    &:hover {
      background: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .react-multiple-carousel__arrow--left {
    left: calc(-1% + 1px);
  }

  .react-multiple-carousel__arrow--right {
    right: calc(-1% + 1px);
  }

  .slider-footer {
    // height: 43px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;

    p {
      color: $white;
      font-size: $font-size-xxsmall;
      padding: 5px 0 0;
      margin: 0;
    }

    span {
      color: rgba(255, 255, 255, 0.5);
      font-size: $font-size-xxsmall;
      margin-top: 2px;
      display: block;
    }
  }
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

//YouTube Video Container Styles
.video-container {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.1);
  // float: left;
  .shadow {
    position: absolute;
    left:0;
    top: 0;
    right:0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    .button {
      border: 0;
      background: transparent;
      transition: 100ms all ease;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


  }

  .video-wrapper {
    width: 100%;
    height: 170px;
    float: left;
  }

  .collection-detail {
    // float: left;
    width: 100%;
    height: 40px;

    .youtube-logo {
      padding: 6px 16px;
    }

  }

  footer {
    float: left;
    width: 100%;
    height: 40px;

    a {
      font-size: $font-size-small;
      font-weight: 500;
      color: $white !important;
      text-align: left;
      width: 100%;
      display: block;
      padding: 10px 16px;
    }
  }

  video {
    width: 100%;
  }
}

//Movie Meter styles
.movie-meter-wrapper {
  padding: 20px 5px 0;
  margin-top: 25px;
  width: 100%;
  background: #0a0a0a;
  // float: left;

  h2 {
    padding: 0;
    display: inline-block;
  }

  small {
    font-size: $font-size-xxsmall;
    color: $rightPanelText;
    text-transform: none;
    font-style: italic;
  }  

  .rank {
    color: $rightPanelText;
    font-size: $font-size-xregular;
  }

  .movie-title {
    color: $white;
    font-size: $font-size-small;

    small {
      font-size: $font-size-xxsmall;
      color: $rightPanelText;
      font-style: normal;
    }
  }

  .percentage {
    color: $rightPanelText;
    font-size: $font-size-small;
    text-align: right;
  }

  // table {
  //   padding-top: 10px;
  //   tr {
  //     &:first-child {
  //       td {
  //         padding-top: 0;
  //         border-top: 0;
  //       }
  //     }

  //     td {
  //       width: 25%;
  //       border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  //       padding: 20px 0;
  //     }
  //   }
  // }

  .view-all {
    padding: 20px 0;
    margin: 0;
  }
}

//Carousal
.carousel-container {
  .react-multiple-carousel__arrow::before {
    font-size: 12px;
    opacity: 0.5;
  }

  .react-multi-carousel-dot-list {
    display: none !important;
  }
}

//Advertisement style 
.advt-container {
  max-width: 300px;
  max-height: 250px;
  @media screen and (max-width:1024px) {
    max-width: initial;
    max-height: initial;
  }
  img {
    width: 100%;
  }

  .adv-text {
    position: absolute;
    right: 15px;
    margin: 17px 15px;
    color: $advertiseText;
    font-size: $font-size-xxsmall;
  }
}

//Polls Slider Style
.polls-container {
  // width: 100%;
  margin-top: 40px;
  // float: left;
  // height: 180px;

  // header {
  //   padding-top: 10px;
  // }

  .slider .react-multiple-carousel__arrow {
    top: 19%;
  }

  .slider .react-multiple-carousel__arrow--right {
    right: calc(-3% + 1px);
  }

  p {
    white-space: normal;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: $font-size-small;
    line-height: 14px;
    width: 98%;
    -webkit-line-clamp: 3;
    height: 4.8em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-btns {
    display: inline-block;
  }

  .confirm-btn {
    width: 61px;
    height: 31px;
    border-radius: 2px;
    border: solid 1px $white;
    float: left;
    color: rgba(255, 255, 255, 0.8);
    margin: 15px 0 0;
    font-size: $font-size-medium;
    padding: 2px 10px 4px 8px;
    text-transform: uppercase;
  }

  .slider-body {

    img {
      width: auto;
      height: auto;
      margin-right: 5px;
      vertical-align: inherit;
    }

    .right-content {
      padding: 0 0 0 9px;
    }
  }

  .react-multi-carousel-list {
    margin: 0;
  }

  .no-btn {
    margin-left: 10px;
  }
}

//Play and win style
.play-win-container {
  padding: 20px;

  h2 {
    font-size: $font-size-regular;
    color: $white;
    text-transform: uppercase;
    margin: 0 10px 20px 0;

    .circle {
      padding: 3px 10px;
      margin: 0 10px 0 0;
    }

  }

  p {
    font-size: $font-size-small;
    color: $white;
  }

  small {
    font-size: $font-size-xxsmall;
    color: $white;
    text-transform: uppercase;
    padding: 28px 0 10px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: inline-flex;

    li {
      list-style: none;
      width: 35px;
      height: 35px;
      border-radius: 2px;
      background-color: $bgColor;
      margin-right: 5px;
      opacity: 0.6;
    }
  }

  button {
    height: 35px;
    border-radius: 4px;
    background-color: $playNowBtn;
    margin-left: 14px;
    border: none;
    font-size: $font-size-small;
    color: $white;
    text-transform: uppercase;

    &:focus {
      outline: 0;
    }
  }
}

//Movie Promo
.movie-promo {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  .shadow {
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 10%, rgba(0, 0, 0, 0) 100%);
  }
  .promo-span {
    position: absolute;
    right: -1px;
    top:-1px;
    padding: 3px 5px;    
    background-color: $black;
    float: right;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: $font-size-xsmall;
  }

  .promo-details {
    position: absolute;
    bottom: 0;
    padding:0 24px 5px;
    color: $white;
    width: 100%;    

    h2 {
      font-size: $font-size-medium;
      color: $white;
      text-transform: uppercase;
    }

    a {
      font-size: $font-size-small;
    }

    .circle {
      border: solid 4px $anchor;
      font-size: 13px;
      width: 42px;
      height: 42px;
      display: inline-block;
      text-align: center;
      position: relative;

      .promo-rank {
        padding: 7px 7px;
        display: inline-block;
      }
    }
  }

}

//Insta Feed slider
.insta-feed {
  margin-top: 40px;

  .slider {
    .react-multi-carousel-list {
      margin: 0;      
    }

    .react-multiple-carousel__arrow {
      top: auto;
      bottom: 0;
      text-align: center;
      padding: 0;
    }

    .react-multiple-carousel__arrow--left {
      left: 39%;
    }

    .react-multiple-carousel__arrow--right {
      right: 38%;
    }      
  }

}

//Twitter Feed slider
.twitter-container {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #416583;
  .twitter-posts {
    padding: 20px 25px;
  }
  .view-all {
    color: $white;
    margin: 2px 0 0 0;
  }
  .slider {
    color: $white;
    margin-top: 10px;
    .react-multi-carousel-list {
      margin: 0;
    }

    .react-multiple-carousel__arrow {
      top: auto;
      bottom: 8%;
      text-align: center;
      padding: 0;
      min-width: auto;
      min-height: auto;
    }

    .react-multiple-carousel__arrow--left {
      left: 86%;
    }

    .react-multiple-carousel__arrow--right {
      right: 1%;
    }
  }

  p {
    float: left;
    width: 100%;
    font-size: $font-size-small;
    white-space: normal;
    margin: 0 0 15px;
    letter-spacing: 0.24px;
    line-height: 15px;
  }

  .author {
    float: left;
    margin: 0 0 0 10px;

    h4 {
      letter-spacing: 0.28px;
      font-size: $font-size-medium;
      margin: 10px 0 0;
      line-height: 10px;
      text-transform: uppercase;
    }

    span {
      font-size: $font-size-small;
      letter-spacing: 0.24px;
    }
  }


}
//FB slider
.fb-slider{
  .view-all{
    width:100%;
    padding: 17px 0;
    margin: 0;
  }
  .slider{
    .react-multiple-carousel__arrow--left {
      left: 30%;
    }

    .react-multiple-carousel__arrow--right {
      right: 30%;
    }
  }
}

.slider-card {
  background-color: transparent; 
  .card-img-top {
    border-radius: 0;
    height: 200px;
    object-fit: cover;
    @media screen and (max-width: 1024px) {
      height: auto;
      object-fit: initial;
    }
  } 
  .card-body {
    padding: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    .card-title {
      color: #fff;
      font-size: $font-size-small;
      margin-bottom: 0;
      text-transform: capitalize;
      font-weight: normal;
    }
    .date {
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      font-size: $font-size-xxsmall;
    }
  }
}
.collection-detail {
  text-transform: uppercase; 
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .movie-icon {
    padding-right: 10px;
  }
  h3 {
    // padding-left: 10px;
    font-size: $font-size-xregular;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 3px;
    margin-bottom: 0;
  }
  h3.meter-header {
    color: $white;
    font-weight: 600;
  }
}

.meter-table {
  margin-top: 1rem;
  table {
    margin-bottom: 0;
    tr {
      &:first-child {
        td {
          border-top: none;          
        }
      }
      td {
        padding-left: 0;
        vertical-align: middle;
        border-top-color: #2b2b2b;
        p {
          margin-bottom: 0;
        }
        small {
          display: flex;
          align-items: baseline !important;
          span {
            &:first-child {
              padding-right: 2px;
            }
            &:last-child {
              padding-left: 2px;
            }
          }
          img {
            width: 8px;
            margin-right: 2px;
          }
        }
        &:nth-child(3) {
          padding-right: 0;
        }
      }
    }
  }
  .representation-image {
    min-width: 40px;
    max-width: 40px;
    img {
      width: 100%;
    }
  }
}
.polls-container {
  .slider {
    .react-multi-carousel-item {
      padding: 0 20px;
    }
    .react-multiple-carousel__arrow--left {
      left: calc(-5% + 1px);
    }
    .react-multiple-carousel__arrow--right {
      right: calc(-5% + 1px);
    }
  }
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.insta-slider {
  .react-multi-carousel-list {
    padding-bottom: 40px;
  }  
}
.insta-feeds {
  align-items: center;  
}
.insta-feeds ::after {
  content: "";
  clear: both;
  display: table;
}