@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@mixin liststyle($width1, $width2, $width3, $width4, $width5) {
    width: 19%;
    margin-right: 2px;
    //margin-bottom: 3px;
    cursor: pointer;
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) { width: $width1; }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) { width: $width2; }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) { width: $width3; }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) { width: $width4; }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { width: $width5; }
}

.image-cont {
    padding-top: 5%;
    overflow: hidden;
    transition: all 0.2s ease-in;
    .list-inline {
        margin: 0;
        position: relative;
        z-index: 0;
        min-height: 18vw;
        // &:hover {
        //     .list-inline-item {
        //         transform: translateX(-25%);
        //     }
        // }
        // &:last-child {
        //     margin-bottom: 5em;
        // }
        
        .list-inline-item {
            transform: scale(1) translate3d(0,0,0); 
            transition: all 0.1s ease-in;        
            transition: transform 300ms ease 100ms;            
            outline: 0px solid #171717; 
            z-index: 0;
            overflow: hidden;
            vertical-align: middle;
            @include liststyle(100%, 32.9%, 24%, 19.7%, 16.49%);

            .only-image{
                position: relative;

                .inner-shadow{
                    width:  100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    opacity: 1;
                    z-index: 1;
                    transition: all 0.28s ease;
                    background: linear-gradient(rgba(0,0,0,0)10%, rgba(0,0,0,1)100%);
                }

                .movie-title{
                    text-align: center;
                    width: 100%;
                    position: absolute;
                    bottom:  0;
                    z-index: 1;
                    opacity: 1;
                    transition: all 0.3s ease;
                }
            }
            
            img{
                width: 100%;
            }
            // .ImageFilter{
            //     display: none;
            // }
            .ImageFilter-image{
                transition: visibility 0s ease;
                visibility: hidden;
                transition-delay: .5s;
            }

            .ImageFilter-svg{
                transition: visibility 0s ease;
                visibility: visible;
                transition-delay: .5s;
            }


            // &:last-child{
            //     margin-right: 0px;
            //     &:hover {
            //         transform: translateX(-25%) scale(1.5) !important;
            //     }
            // }


            // &:hover{                
            //     transform: scale(1.5) !important;
            //     &~.list-inline-item {
            //         transform: translateX(25%);
            //     }
            //     .ImageFilter-image{
            //         visibility: visible !important;
            //     }

            //     .ImageFilter-svg{
            //         visibility: hidden;
            //     }
            // }
            // &:first-child {
            //     &:hover {
            //         transform: translateX(25%) scale(1.5) !important;
            //         z-index: 999;
            //     }
            // }
        }
        .video-active {
            @include liststyle(100%, 49.5%, 33%, 33%, 24.8%);//(100%, 49.5%, 33%, 33%, 24.8%);
            transition-delay: .2s;
            .only-image{
                
                .movie-title{
                    text-transform: uppercase;
                    font-size: 10px;
                    text-align: left;
                    padding: 0 1rem;
                    .video-play-button{
                        visibility: hidden;
                        svg{
                            width: 11%;
                            path{
                                fill: #fff;
                            }
                        }
                    }
                    .short, .social, .songs, .events, .behind-scenes, .miscellaneous, .trailer {
                        margin-bottom: 0;
                    }
                    .short{
                        color: #fd6534;
                    }
                    .songs{
                        color: #cc3137;
                    }
                    .events{
                        color: #e0a740;
                    }
                    .behind-scenes{
                        color: #0cbe8e;
                    }
                    .social{
                        color: #1279de;
                    }
                    .miscellaneous{
                        color: #ba43f3;
                    }
                    .trailer {
                        color: #88ff00;
                    }
                    .video-title{
                        display: block;
                        opacity: 0.8;
                    }
                    .video-release, .video-title__hover, .video-views{
                        display: none;
                        position:relative;
                        animation:animateleft .2s;
                    }
                }
                @keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
            }
        }
        .item-hovered { 
            // border: 10px solid ;  
            transition: all 0.3s ease-in;
            z-index: 9;
            transform: scale(1.1) translate3d(0,0,0); 
            // outline: 5px solid #171717;
            box-shadow: 0px 9px 18px 4px #171717;
            .only-image{

                .inner-shadow{
                    transition-delay: 0.1s;
                    opacity: 0;
                }

                .movie-title{
                    transition-delay: 0s;
                    opacity: 0;
                }
            }

        }
        .video-item-hovered {
            transition: all 0.2s ease-in;                       
            z-index: 999;
            transform: scale(1.4) translate3d(0,0,0) 5s;
            // outline: 5px solid #171717;
            box-shadow: 0px 0px 18px 4px #171717;
            .only-image{                
                .movie-title{
                    .video-play-button{
                        visibility: visible;                        
                    }
                    .video-play-button + p {
                        font-weight: 600;
                        font-size: 8px;
                    }
                    .video-title{
                        margin-bottom: 0;
                    }
                    .video-release, .video-title__hover, .video-views {
                        display: block;
                        font-size: 9px;
                    }
                    .video-release, .video-views {
                        font-weight: 100;
                    }
                    .video-views {
                        display: flex;
                        align-items: center;
                        svg {
                            margin-right: 5px;
                            width: 10px;
                            height: 10px;
                            fill: #fff;
                            background: #000;
                        }                        
                    }
                    .video-title{
                        display: none;
                    }
                }
            }
            // .only-image{

            //     .inner-shadow{
            //         transition-delay: 0.1s;
            //         opacity: 1;
            //     }

            //     .movie-title{
            //         transition-delay: 0s;
            //         opacity: 1;
            //     }
            // }
        }
        
        .still-hovered{

            .only-image{

                .inner-shadow{
                    transition-delay: 0.9s;
                    opacity: 0;
                }

                .movie-title{
                    transition-delay: 1s;
                    opacity: 0;
                }
            }

            .ImageFilter-image{
                visibility: visible !important;
            }

            .ImageFilter-svg{
                visibility: hidden;
            }
        }

        .next-sibling{
            transition: all 0.3s ease-in;
            transform: scale(1) translate3d(16px,0,0); 
        }

        .prev-sibling {
            transition: all 0.3s ease-in;               
            transform: scale(1) translate3d(-16px,0,0); 
        }

        .music-active {
            @include liststyle(100%, 49.5%, 33%, 24.8%, 19.8%);//(100%, 49.5%, 33%, 33%, 24.8%);
            &.item-hovered {
                border: 5px solid rgba(255,255,255,0.2);
            }
        }

        &.video-ulclass {
            &:hover {
                .list-inline-item {
                    transform: translateX(-25%);
                    transition-delay: .2s;
                    &:hover {
                        transform: translateX(-25%);
                        transition-delay: .2s;
                    }
                }
            }
            &:last-child {
                margin-bottom: 5em;
                .list-inline-item {
                    transform: translateX(25);
                    &:hover {
                        transform: translateX(-25%);
                    }
                }
            }
            
            .list-inline-item {
                &:last-child{
                    margin-right: 0px;
                    &:hover {
                        transform: translateX(-25%) scale(1.5) !important;
                    }
                }
                &:hover{
                    transform: scale(1.5) !important;
                    &~.list-inline-item {
                        transform: translateX(25%);
                    }
                    .ImageFilter-image{
                        visibility: visible !important;
                    }

                    .ImageFilter-svg{
                        visibility: hidden;
                    }
                }
                &:first-child {
                    &:hover {
                        transform: translateX(25%) scale(1.5) !important;
                        z-index: 999;
                        &~.list-inline-item {
                            transform: translateX(50%);
                        }
                    }
                }
            }    
        }
    }  
    .video-ulclass{
        min-height: 12vw;
        display: flex;
    }
    .parentZ {
        z-index: 999;
    }

    .award-ulclass {
        min-height: 15vw;
        width: 500%;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out; 
        .award-active{
            @include liststyle(10%, 7%, 6%, 5%, 4%);
            .only-image{
                
                .custom-awards-movie-title{
                    position: absolute;
                    width: 50%;
                    left: 30%;
                    top: 22%;
                }
            }         
        }
        
        .movie-title{
            p{
                margin-bottom: 5px;
                font-size: 0.9vw;
            }
            h2{
                font-size: 2.5vw;
            }
            h5{
                font-size: 1.5vw;
            }
        }
        
    }

/******************************************************************************************************/

.custom-visible{
    visibility: visible !important;
}
    .only-image{

// margin-right: 5px;
                
        .custom-awards-movie-title{
            position: absolute;
            width: 50%;
            left: 25%;
            top: 22%;
            text-align: center;
            z-index: 1;


        }



    }
    .only-image{

        // margin-right: 5px;
                        
                .custom-awards-movie-title-view-all{
                    position: absolute;
                    width: 50%;
                    left: 25%;
                    top: 42%;
                    text-align: center;
                    z-index: 1;
                }
        
        
        
            }

/******************************************************************************************************/


    .award-class{
        position: relative;
        .award-prev-btn, .award-next-btn{
            position: absolute;
            bottom: 0;
            width: 48px;
            height: 100%;
            background: rgba(0, 0, 0,0.5);
            z-index: 9;
            opacity: 0;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                top: 43%;
                left: 37%;
                transform: rotate(-135deg);
            }
        }
        .award-next-btn{
            left: 96%;
            &::before{
                left: 15%;
            transform: rotate(45deg);
            }
        }        
        &:nth-child(2){
            .award-active .only-image .movie-title {
                left: 38%;
                top: 28%;
                h4, h3{
                    font-size: 1.8vw;
                }
                h5{
                    font-size: 1.3vw;
                }
            }
        }
        &:nth-child(3){
            .award-active .only-image .movie-title {
                left: 46%;
                top: 30%;
                .award-series{
                    position: absolute; 
                    top: -30%;
                    left: 78%;                   
                }
                h4{
                    font-size: 1.8vw;
                }                
                h6{
                    font-size: 1.2vw;
                }
            }
        }
        &:nth-child(4){
            .award-active .only-image .movie-title {
                width:60%;
                left: 30%;
                top: 20%;
                .award-series{
                    position: absolute; 
                    top: -30%;
                    left: 78%;                   
                }
                h4{
                    font-size: 1.8vw;
                }                
                h6{
                    font-size: 1.2vw;
                }
            }
        }
        &:nth-child(5){
            .award-active .only-image .movie-title {
                left: 40%;
                top: 10%;              
            }
        }
        .award-active {
            .ImageFilter {
                img {
                    transition-delay: .5s;
                }
            }
        }
        .btn{
            background-color: transparent !important;
            border-color:  transparent !important;
            color: #00c0ff !important;
            box-shadow: none !important;
            &:hover{
                text-decoration: underline;
            }
        }
        .showBtns ~ .award-prev-btn, .showBtns ~ .award-next-btn{
            opacity: 1 !important;
        }
       
    }
    .awards-ulclass{
        min-height: 15vw;   
        .awards-active{
            @include liststyle(100%, 49%, 33%, 24.8%, 24.8%);
            .only-image .movie-title {
                    opacity: 1 !important;
                    width: 50%;
                    p{
                        margin-bottom: 5px;
                        font-size: 0.9vw;
                    }
                    h2{
                        font-size: 2.5vw;
                    }
                    h5{
                        font-size: 1.2vw;
                    }
            }
        }  
        .item-hovered{           
            .only-image .movie-title {
                    color: #000;
            }
        }
    }
    .filmFareUl{
        .awards-active .only-image .movie-title {
            left: 30%;
            top: 29%;
        }

    }
    .nandiUl{
        .awards-active .only-image .movie-title {
            left: 49%;
            top: 39%;
        }
    }
    .siimaUl{
        .awards-active .only-image .movie-title {
            left: 45%;
            top: 26%;
        }
    }
    .iifaUl{
        .awards-active .only-image .movie-title {
            left: 26%;
            top: 29%;
            color: #fff !important;
        }
    }
    .NatUl{
        .awards-active .only-image .movie-title {
            left: 25%;
            top: 29%;
        }
    }
    // .award-ulclass{
    //     &:hover .award-active{
    //         transition: all 0.3s ease-in;
    //         transform: scale(1) translate3d(-12px,0,0);            
    //     }
    //     .award-active{
    //         outline: none;
    //         box-shadow: none;
    //         &:hover{                 
    //         transition: all 0.3s ease-in;
    //         z-index: 9;
    //         transform: scale(1.1) translate3d(0,0,0); 
    //         //outline: 5px solid #171717;
    //         //box-shadow: 0px 9px 18px 4px #171717;
    //         .only-image{
    //                 .ImageFilter-image{
    //                     visibility: visible !important;
    //                 }

    //                 .ImageFilter-svg{
    //                     visibility: hidden;
    //                 }
    //             }
    //         }
    //         &:hover ~ .award-active{ 
    //             transition: all 0.3s ease-in;
    //             transform: scale(1) translate3d(13px,0,0); 
    //         }
    //     }
    // }
}

#popover{
    background: #171717;
    border:        0;
    border-radius: 0;
    left: 0px !important;
    padding: 0.5% 0%;
    overflow: hidden;

    .arrow{
        display: none;
    }

    .popover-body{        
        position: relative;
        height: 100%;

        .overLay{
            width:  100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .details{
            background-color: #171717;
            color: white;
            height: 100%;

            .detail-cont{
                margin: 3% 2% 3% 2%;
                font-size: 0.91vw;//11px
                position: relative;
                height: 100%;

                p:first-child{
                    font-size: 10px;
                }
                h6{
                    font-size: 22px;
                    color: #00c0ff !important;
                }
                p a{
                    color: #00c0ff !important;
                    &:hover{
                        color: #00c0ff !important;
                    }
                }
                ul{
                    padding-left: 10px;
                    li{
                        display: inline-block;
                        position: relative;
                        margin: 0 0.5rem;
                        color: #00c1ff;
                        &:nth-child(1){
                            margin-left: 0;
                        }
                        &::before{
                            content:"";
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            background: #00c1ff;
                            z-index: 99;
                            border-radius: 50%;
                            left: -10px;
                            top:8px;
                        }
                    }
                }
                .item {
                    margin-bottom: 20px;
                    position: absolute;
                    right: 0;
                    top: 15%;
                    width:  35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right: 20px;

                    .radial-inner-bg {
                        border-radius: 50%;
                        width:  29px;
                        height: 29px; 
                        top:  3px;
                        left: 3px;
                        background: #171717;
                        position: absolute;

                        .text {
                            text-align: center;
                            padding-top: 5px;
                            font-size: 12px;
                        }
                    }
                }

                .ranking{
                    background-color: rgba(66, 149, 201,0.6);

                    .radial-inner-bg{
                        background: rgba(0, 0, 0, 0);

                        .text {
                            font-size: 14px;
                            padding-top: 4px;
                        }
                    }
                }
                .popoverFooter{
                    width: 100%;
                    position: absolute;
                    bottom: 0;

                    p{
                        margin-top: 0.6rem;
                        margin-bottom: 1.5rem;
                    }
                }

                svg {
                    width: 6%;

                    path{
                        fill: #00c1ff;
                    }
                }                
                

                $step: 1; 
                $loops: 100;
                $increment: (360 / $loops);
                $half: round($loops / 2);
                @for $i from 0 through $loops {
                  .progress-#{$i*$step} {

                    @if $i < 50 {
                        $nextdeg: 90deg + ( $increment * $i );
                        background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient($nextdeg, #41ADE5 50%, #fff 50%, #fff);
                    }

                    @else {
                        $nextdeg: -90deg + ( $increment * ( $i - $half ) );
                        background-image: linear-gradient($nextdeg, #41ADE5 50%, transparent 50%, transparent), linear-gradient(270deg, #41ADE5 50%, #fff 50%, #fff);
                    }
                  }
                }

                h5{
                    color: #00c0ff;
                }

                p span{
                    color: #00c0ff;
                }
                .detail-cont-genre span, .detail-cont-occptn span{
                    cursor: pointer;
                    margin-right: 0.2rem;
                    //text-transform: capitalize;
                    &:not(:last-child)::after{
                        content: '/';
                        margin-left: 0.2rem;
                        color: #fff;
                    }
                }
                .detail-cont-detail{
                    font-size: 10px;
                    // $font-size: 10px;
                    // $line-height: 1.4;
                    // $lines-to-show: 1;
                    // font-size: $font-size;
                    // p {
                    //     display: block; /* Fallback for non-webkit */
                    //     display: -webkit-box;
                    //     max-width: 400px;
                    //     height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
                    //     margin: 0 auto;
                    //     font-size: $font-size;
                    //     line-height: $line-height;
                    //     -webkit-line-clamp: $lines-to-show;
                    //     -webkit-box-orient: vertical;
                    //     overflow: hidden;
                    //     text-overflow: ellipsis;
                    // }
                }
                .detail-cont-directors span{
                    margin-right: 0.2rem;
                    &:not(:last-child)::after{
                        content: ',';
                        margin-left: 0.2rem;
                        color: #fff;
                    }
                }
                .detail-cont-actors span{
                    margin-right: 0.2rem;
                    &:not(:last-child)::after{
                        content: ',';
                        margin-left: 0.2rem;
                        color: #fff;
                    }
                }
                hr {
                    margin: 0.5rem 0;
                    border-color: rgba(255,255,255,0.2);
                }
            }
        }

        &:hover{
            color: red;
        }        
    }
    
}


.bs-popover-auto[x-placement^="right"], .bs-popover-right {
    margin-left: 0;
    box-shadow: 2px 8px 26px 3px #171717;
}

.bs-popover-auto[x-placement^="left"], .bs-popover-left {
    margin-right: 0;
    box-shadow: -3px 8px 26px 3px #171717;
}

.bs-popover-auto[x-placement^="bottom"], .bs-popover-bottom {
    margin-top: 0;
    box-shadow: 2px 8px 26px 3px #171717;
}

.bs-popover-auto[x-placement^="top"], .bs-popover-top {
    margin-bottom: 0;
    box-shadow: -2px -8px 26px 3px #171717;
}


.gallery-layout {
    list-style: none;
    .gallery-image-container {
        width: 300px;
        &:hover {
            transform: scale(1.1) !important;
            transition: transform .3s;
            transition-delay: .2s;
            z-index: 999;
            cursor: pointer;
            .movie-title {
                transition: transform 1.5s;
                transition-delay: .2s;
            }
            .inner-shadow {
                z-index: 1;
                filter: none;
                -webkit-filter: grayscale(0%);
                transform: scale(1.1) !important;
                -webkit-transform: scale(1.1) translate3d(0, 0, 0);
                background: linear-gradient(rgba(0, 0, 0, 0) 10%, black 100%);
                &+ {
                    img {
                        filter: none;
                        -webkit-filter: grayscale(0%);
                        transform: scale(1.1) !important;
                        // z-index: 999;
                        -webkit-transform: scale(1) translate3d(0, 0, 0);
                    }
                }
            }
            img {
                &:hover {
                    filter: none;
                    -webkit-filter: grayscale(0%);
                    transform: scale(1.5);
                    z-index: 999;
                    -webkit-transform: scale(1) translate3d(0, 0, 0); 
                }
            }
            .only-image {
                z-index: 999;
            }
        }
        .inner-shadow {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            opacity: 1;
            z-index: 1;
            transition: transform 1.5s;
            transition-delay: .2s;
            background: linear-gradient(rgba(0, 0, 0, 0) -30%, black 100%);
            // &:hover {
            //     z-index: 1;
            //     filter: none;
            //     -webkit-filter: grayscale(0%);
            //     transform: scale(1.1) !important;
            //     -webkit-transform: scale(1.1) translate3d(0, 0, 0);
            //     &+ {
            //         img {
            //             filter: none;
            //             -webkit-filter: grayscale(0%);
            //             transform: scale(1.1) !important;
            //             // z-index: 999;
            //             -webkit-transform: scale(1) translate3d(0, 0, 0);
            //         }
            //     }
            // }
        }
        img {
            width: 100%;
            height: 100%;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
            transition: transform 1.5s ease;
            transition-delay: .2s;
            z-index: 1;
            // &:hover {
            //     filter: none;
            //     -webkit-filter: grayscale(0%);
            //     transform: scale(1.5);
            //     z-index: 999;
            //     -webkit-transform: scale(1) translate3d(0, 0, 0); 
            // }
        }
        .only-image {
            position: relative;
        }
        .movie-title {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 1;
            opacity: 1;
            // -webkit-transition: all 1s ease;
            // transition: all 1s ease;
            transition: transform 1.5s ease;
            transition-delay: .2s;
            padding: 12px;
            font-size: 0.8125rem;
            .video-title {
                margin-bottom: 0;
            }
        }
    }
}

// gallery Modal popup css

.ReactModal__Overlay {
    z-index: 999;
    background-color: rgba(0,0,0,1) !important;
    .ReactModal__Content {
        background: #000 !important;
        border: none !important;
        padding: 0 !important;
        border-radius: 0 !important;
        &+div {
            text-align: center;
            justify-content: center;
            width: 100%; 
        }
        .image-gallery {
            .image-gallery-content {
                .image-gallery-slide-wrapper {
                    .image-gallery-index {
                        left: 5%;
                        bottom: 27% !important;
                        top: initial;
                        background: none;
                        padding: 0 20px;
                        .image-gallery-index-current {
                            display: none;
                        }
                        .image-gallery-index-separator {
                            display: none;
                        }
                        &:before {
                            content: 'IMAGE ';
                            background-image: url('../../svgIcons/gallery.svg');
                            background-repeat: no-repeat;
                            padding-left: 35px;
                            background-size: 25%;
                            font-weight: 100;                        
                        }
                        .image-gallery-index-total {
                            &:before {
                                content: '( ';
                            }
                            &:after {
                                content: ' )';
                            }
                        }
                    }
                    .image-gallery-left-nav {
                        top: 45%;
                        border: none;
                        outline: none;
                        &+.image-gallery-right-nav {
                           top: 45%; 
                           border: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
.image-gallery-image {
    background-color: #000;
    text-align: center;
    &::before {
        content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
		-moz-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
		-webkit-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
    }
    .image-gallery-description {
        font-size: 1.6em;
        bottom: 35% !important;
        left: 5% !important;
        background: none !important;
        padding: 0 20px !important;
    }
}
.image-gallery-thumbnails {
    background: #181818;
    padding: 5px !important;
    .image-gallery-thumbnail {
        &.active {
            border: none !important;
            .image-gallery-thumbnail-inner {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
                    -moz-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
                    -webkit-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
                } 
            }
        }    
    }
}

.plyr__video-wrapper {
    iframe {
        width: 100%;
        height: 500px;
    }
}

.ReactModal__Overlay {
    opacity: 0;
    // transition: opacity 2000ms ease;
    // transition: transform .2s;
    // animation:animatezoom 0.6s
    -webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.ReactModal__Overlay--after-open{
    opacity: 1;
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.modal-close {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 1;
    svg {
        path {
            fill: #fff;
        }
    }
}
.image-gallery-thumbnails-wrapper {
    position: absolute !important;
    width: 100%;
    bottom: 0;
    height: 10%;
    // overflow: initial;    
    // overflow-y: hidden;
    .image-gallery-thumbnails {
        display: none;
        position:relative;
        animation:animatebottom 1s;
        // overflow: initial;
    }
    @keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
    &:hover {
        height: auto;
        .image-gallery-thumbnails {
            display: block;
        } 
    }
}
.image-gallery-fullscreen-button {
    bottom: 3% !important;
    &:before {
        content: url("../../svgIcons/fullscreen.svg") !important;
        width: 60px;
    }    
}
ul.gallery-layout {
    padding-left: 0;
}
.image-gallery-slide {
    img {
        height: 87vh  !important;
        width: auto !important;
    }
}
.video-carousel {
    position: absolute !important;
    width: 100%;
    bottom: 0;
    height: 25%;
    overflow: hidden;
    &:hover {
        .slick-list {
            display: block;
        }
        .slick-arrow {
            display: block !important;            
        }
    }
    .slick-arrow {
        display: none !important;
        opacity: 1;
        animation: fade 10s linear;
    }
    @keyframes fade {
        0%,100% { opacity: 0 }
        50% { opacity: 1 }
      }
    .slick-arrow {
        z-index: 1;
    }
    .slick-prev {
        left:0;
    }
    .slick-next {
        right: 0;
    }
    .slick-list {
        background-color: #181818;
        position: relative;
        -webkit-animation: animatebottom 1s;
        animation: animatebottom 1s;
        display: none;
    }
    .slick-dots {
        display: none !important;
    }
    .slick-slide {        
        padding: 10px 5px 5px;
        div {
            div {                
                height: 100%;
                // &:before {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     bottom: 0;
                //     left: 0;
                //     right: 0;
                //     box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, 0.4);
                //     -moz-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, 0.4);
                //     -webkit-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, 0.4);
                // }
                img {
                    height: 100%;
                    width: 100%;
                    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
                        -moz-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
                        -webkit-box-shadow: inset -1px -2px 300px 380px rgba(0, 0, 0, .4);
                    }                    
                }
                .video-play {
                    // position: relative;
                    position: absolute;
                    top: 50%;
                    transform: translate(65px, -20px);
                    svg {
                        width: 11%;
                        // position: absolute;
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        // -ms-transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

@supports (-moz-appearance:none) {
    .video-play {
        svg {
            width: 2% !important;
        }
    }
}

.filters {    
    .ais-InstantSearch__root {
        position:relative;
        animation:animatetop 0.2s;
    }
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.events-title {
    color: #f4b140;
}
.artist-title {
    color: #1079df;
}
.posters-title {
    color: #c32f34;
}
.behind-scenes-title {
    color: #0fbd90;
}
.wallpaper-title {
    color: #da5a32;
}
.social-title {
    color: #441a52;
}
.other-title {
    color: #bfad44;
}
.ribbon-red {
    fill: #f00;
    width: 15px;
}


// Loader on DOM render
.Spinner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.spinner-hide {
    display: none;
}
// ***************************************

// Default slick slider config
.slick-slider {
    .slick-list {
        padding: 30px 0;
    }
    &:hover {
        .award-prev-btn, .award-next-btn {
            opacity: 1;
        }
        .slick-active {
            transform: translateX(-5%);
            transition: all 0.2s ease-in;
            &:hover {
                transform: translateX(-5%) scale(1.2);
                z-index: 999;
                &~.slick-active {
                    transform: translateX(5%);
                }
                &:first-child {
                    &:hover {
                        transform: translateX(5%) scale(1.2);
                    }                        
                } 
            }
        }
    }    
}

