
@import '../scss/common.scss';
.nav {
    width: $navBar;
    position: fixed;
    z-index:2;
    top: 0;
    background-color: transparent !important;
    @media screen and (max-width: 767px) {
        background-color: #000 !important;
    }
    a{
        text-align: center;
        font-size: 10px;
        padding: 12% 0;
        text-decoration: none;
        color: rgba(255,255,255,0.4);
        text-transform: uppercase;
        img{
            width: 50%;
            &:nth-child(1){
                width: 75%;
            }
        }
        svg {
            width: 26%;
            path{
                fill: rgba(255,255,255,0.6);;
            }
        }
        &:not(:first-child):hover{
            color:rgba(0,0,0,1);
            background-color: #00c1ff;
            path {
                fill:rgba(0,0,0,1);
            }
        }
       
    }
    .active{
        color:rgba(0,0,0,1);
        background-color: #00c1ff;
        path {
            fill:rgba(0,0,0,1);
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .nav a{
        height: 60px;
    }
}

.navbar {
    padding: 0;
}
@media screen and (max-width: 1024px) {
    .collapse {
        &.show {
            .nav {
                top: 50px;
                width: 100%;
                background-color: #000 !important;
                padding: 10px 0 0;
                br {
                    display: none;
                }
                a {
                    padding: 5px 0;
                    font-size: 0.875rem;;
                    svg, img {
                        display: none;
                    }
                }
            }
        }
    }
}






.navbar-toggler { 
    cursor: pointer; 
    padding: 0; 
    position: absolute; 
    right: 15px; 
    top: 25px;  
    border: none;
    &:focus {
        outline: none;
    }
}
.navbar-toggler span, .navbar-toggler span:before, .navbar-toggler span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  right: 0;
}
.navbar-toggler span:after { width: 20px;}
.navbar-toggler span:before {
  top: -6px; 
}
.navbar-toggler span:after {
  bottom: -6px;
}

.navbar-toggler span, .navbar-toggler span:before, .navbar-toggler span:after {
  transition: all 300ms ease-in-out;
}
.navbar-toggler.collapsed span {
  background-color: transparent;
}
.navbar-toggler.collapsed span:before, .navbar-toggler.collapsed span:after {
  top: 0;
}
.navbar-toggler.collapsed span:before {
  transform: rotate(45deg);
}
.navbar-toggler.collapsed span:after {
  transform: rotate(-45deg);
}

.navbar-toggler div {
    position: absolute;
}
.navbar-toggler.collapsed span:after {
    width: 30px;
}
.navbar-brand {
    width: 50px;
    img {
        width: 100%;
    }
}

.navbar-collapse.collapsing {
    display: none;
}