@import '../scss/colors.scss';

html{
    background: $black;
    height:100%;
}
.navbar {
    position: sticky;
    top: 0;
    background:$black;
    z-index: 999;
    @media screen and (max-width: 767px) {
        background-color: #000 !important;
    }
    .nav-link{
        text-transform: uppercase;
        font-size: 10px;
        outline: none !important;
        padding: 0 !important;
        margin: 0 1rem;
        &:nth-child(1){
            margin-left: 0;
        }
    }
    .filter-btn{
        .btn-primary{
            background-color: transparent !important;
            border-color: transparent !important;
            padding-top: 2%;

            svg{
                width: 16px;
                margin-top: -2px;
                rect{
                    fill: rgba(255, 255, 255, 0.6);
                }
            }
        }
        
        .filter-active {
            svg rect{
                fill: rgba(255, 255, 255, 1);
            }
        }

        //************Button clickin and click out color *****************88//
        // .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        //     color: #fff;
        //     background-color: #0062cc;
        //     border-color: #005cbf;
        // }

        
        
        .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus{
            box-shadow: none;
           
        }
        
        // .dropdown{
        //     .dropdown-toggle{
        //         color: #fff;
        //         background-color: rgba($color: #000000, $alpha: 0);
        //         border-color:  rgba($color: #000000, $alpha: 0) !important;
        //         box-shadow: none !important;
        //         text-align: left;
                
        //     }
            
        //     .dropdown-menu{
        //         background-color: #000;
        //         border: none;
        //         .dropdown-item{
        //             color:rgba(255, 255, 255, 0.6);
        //             &:hover{
        //                 color: #000;
        //             }
        //         }
        //         .multi-level{
        //             .btn{
        //                 padding: 0;
        //                 color:rgba(255, 255, 255, 0.6);
        //                 transition: none;
        //                 &::after{
        //                     display: inline-block;
        //                 }
        //             }
        //             &:hover .btn{
        //                 color: #000;
        //             }
        //         }
        //     }
        // }
    }
    .right-part {
        svg{
            margin: 0 8%;
            cursor: pointer;
        }
    }
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link{
    border-bottom: 2px solid #fff;
}
.navbar-dark .navbar-nav .inactive > .nav-link, 
.navbar-dark .navbar-nav .nav-link.inactive {
    border-bottom: 0px solid #fff !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    
    .navbar{
        height: 50px;
    }      
}



// .navbar-dark {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     top: initial;
//     padding: 10px 15px;
//     overflow: scroll;
//     background: rgba(130,130,130,1);
//     .filter-btn {
//         position: inherit;
//         top: 5%;
//         right: 5%;
//     }
// }

// .main-container {
//     &>div {
//         display: none !important;
//         &+div {
//             width: 100% !important;
//             margin-left: 0 !important;
//             display: block !important;
//         }
//     }
// }