@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';

.header-top-menu{
    background: $black;
    height: 80px;
    padding-left: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    @media screen and (max-width: 767px) {
        bottom: 0;
        top: auto;
        padding-left: 0;
        overflow: scroll;
    }
ul {
    padding: 0;
    li {
        padding:10px 15px;
        list-style: none;
        @media screen  and (max-width: 767px) {
            text-align: center;
        }
        &:first-child{
            padding-left: 0;
        }
        a{
            font-size: $font-size-small;           
           font-weight: 500;
           line-height: 4.58;
           letter-spacing: 0.24px;
           text-align: left;
           color: $topMenu !important;
           text-transform: uppercase;
           &.active{
               border-bottom: 2px solid $white;
               color: $white !important;
               @media screen and (max-width: 767px) {
                border-bottom: 2px solid $aqua;
                color: $aqua !important;
               }
           }
           &:hover {
               color: #fff !important;
               cursor: pointer;               
           }
       }
       }
}
   
}