@import '../scss/colors.scss';

@mixin facetWrapperzcommonStyles(){
    color: $white;
    font-size: 10px;
    background-color: $dark-grey;
    margin-right: 1rem;
    padding: 1.3rem 0rem 1.2rem 2rem;
    span{
        font-size: 10px;        
        vertical-align: text-top;
    }
    @media screen and (max-width: 767px){
        padding: 1.3rem 1rem 1.2rem 1rem;
        margin-right: 0;
        height: 100vh;
    }
}
@mixin dropDown($selWid, $right){
    .ais-Panel-body{
        width: 100%;
        .ais-MenuSelect{
            position: relative;

            &::before {
                content:'';
                position: absolute;
                width:  6px;
                height: 6px;
                border-right:  1px solid $white;
                border-bottom: 1px solid $white;
                border-top:  none;
                border-left: none;
                transform: rotate(46deg);
                margin-left: 5.5em;
                vertical-align: 10%;
                right: $right;
                top: 28%;
            }
        }
        .ais-MenuSelect-select{
            background-color: $dim-grey;
            border: none;
            color: $white;
            padding: 0.14rem 0rem;
            margin-top: -1%;
            border-radius: 1px;
            width: $selWid;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            &::-ms-expand {
                display: none;
            }
        }
    }
}
@mixin genre($wid){
    .ais-Panel-header{
        display: inline-block;
        height: 100%;
        vertical-align: top;
        margin-left: 1rem;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    .ais-Panel-body{
        width: $wid;
        display: inline-block;
        .ais-RefinementList-list{
            padding: 0;
            margin-bottom: 0;
            // width: 59%;
            display: inline-block;
            .ais-RefinementList-item{
                display: inline-block;
            }
            .ais-RefinementList-label{
                position: relative;
                color: $light-grey;
                margin-bottom: 0;
                span{
                    cursor: pointer;
                    text-transform: capitalize;
                    vertical-align: top;
                }
                &:hover{
                    color: $aqua;
                }
                .ais-RefinementList-checkbox{
                    visibility: hidden;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 63%;
                    top: 4px;
                    right: -7px;
                    background: $light-grey;
                }
            }
            .ais-RefinementList-item--selected{
                .ais-RefinementList-label span{
                    color: $aqua;
                }
            }
        }
        .ais-RefinementList-showMore{                            
            background-color: transparent;
            border: none;
            color: $light-grey;
            text-transform: capitalize;
            cursor: pointer;
            margin-left: 0.3rem;
        }
    }
}

@mixin rating(){
    .ais-RefinementList-count{
        display: none;
    }
    &:nth-child(1), &:nth-child(2){
        .ais-Panel-header{
            display: inline-block;
            height: 100%;
            vertical-align: top;
        }
        .ais-Panel-body{
            width: 65%;
            display: inline-block;
            margin-left: 1rem;
            @media screen and (max-width: 767px){
                margin-left: 0;
            }
        }
    }
    &:nth-child(2){
        .ais-Panel-body{
            width: 80%;
        }
    }
}

@mixin searchtab(){
    .ais-Panel-body{
        display: inline-block;
        width: 73%;
        margin-top: -1%;
        .facet-wrapper-search{
            position: relative;
            span{
               visibility:hidden;
            }
            #react-autowhatever-1{
                span{
                    visibility:visible;
                 }
            }
            svg{
                height: 60%;
                position: absolute;
                top: 23%;
                right: 3%;

                path{
                    fill: $white;
                }
            }
        }
        .ais-SearchBox-input{
            width: 85%;
            background-color: $dim-grey;
            border: none;
            color: $white;
            padding: 0.2rem 0.75rem;
            border-radius: 1px;
        }
        .ais-SearchBox-submit, .ais-SearchBox-reset{
            background-color: $dim-grey;
            border: none;
            color: $white;
            padding: 0.2rem 0.5rem;
            margin-left: -2px;
            border-radius: 1px;
            
        }
        .ais-SearchBox-reset{
            position: absolute;
            right: 17%;
        }
    }
}
.movie-facet-wrapper {
   // overflow: hidden;
    @include facetWrapperzcommonStyles();

    .row{
        max-height: 21px;
        @media screen and (max-width: 767px) {
            max-height: fit-content;
        }
        &:nth-child(1){
           // overflow: hidden;
            .ais-Panel{
                //transition: transform 0.2s ease;
                transform: translate3d(0%,0,0);
                z-index: 99;
                @media screen and (max-width: 767px) {
                    margin-top: 20px;
                }
                .ais-RefinementList-count{
                    display: none;
                }

                &:nth-child(1), &:nth-child(3){        
                    .ais-Panel-header{
                        display: inline-block;
                        height: 100%;
                        vertical-align: top;
                    }
                    .ais-Panel-body{
                        display: inline-block;
                    }
                }
                &:nth-child(1){
                    @media screen and (min-width:1280px){
                        max-height: 21px;
                    // overflow: hidden;
                        transition: all 0.4s ease;
                        flex: 0 0 33.333333%;
                        max-width: 33.333333%;
                        opacity: 1;                         
                    }
                    @include searchtab();
                }
                &:nth-child(2){
                    @media screen and (min-width:1280px){
                        transition: all 0.4s ease;//, flex 0.7s ease 0.03s, max-width 0.7s ease 0.04s
                        flex: 0 0 41.666667%;
                        max-width: 41.666667%;
                        max-height: 21px;
                        overflow: hidden;                        
                    }                    
                    @include genre(85%);
                }
                
                &:nth-child(3) {
                    @media screen and (min-width:1280px){
                        transition: all 0.4s ease;
                        flex: 0 0 25%;
                        max-width: 25%;
                    }                       
                    .ais-Panel-body .dropdown {
                        .btn-primary{
                            width: 100%;
                            font-size: 10px;
                            background-color: $dim-grey !important;
                            border-color: $dim-grey !important;
                            box-shadow: none !important;
                            border-radius: 0.1rem;
                            padding-top:    2px;
                            padding-bottom: 2px;
                            &::after {
                                width:  6px;
                                height: 6px;
                                border-right:  1px solid $white;
                                border-bottom: 1px solid $white;
                                border-top:  none;
                                border-left: none;
                                transform: rotate(46deg);
                                margin-left: 5.5em;
                                vertical-align: 10%;
                            }
                        }  
                        
                        .dropdown-menu{
                            min-width: 101%;
                            font-size: 10px;
                            color: $light-grey;
                            background-color: $dim-grey !important;
                            border: 1px solid rgba(0,0,0,.15);
                            border-radius: 0.1rem;
                            .dropdown-item{
                                color: inherit;
                                background-color: $dim-grey !important;
                                &:hover, &:active, &.active{
                                    color: $aqua;
                                }
                            }
                        }
                    }
                }
                
            }   
            .expanded-one{
                transform: translate3d(-100%,0,0);
                margin-left: -3.8%; 
                opacity: 0 !important; 
                flex: 0 0 0 !important;
                max-width: 0 !important;      
            }
            .expanded-two {                 
               // transition: transform 0.8s ease 0.01s, flex 0.7s ease, max-width 0.7s ease;
                flex: 0 0 80% !important;
                max-width: 80% !important;
                // &::after{
                //     content: "";
                //     position: absolute;
                //     width: 12%;
                //     right:0;
                //     height: 100%;
                //     background: linear-gradient(to right, rgba(0,0,0,0), $dark-grey 50%);
                // }
            }
            .expanded-three{ 
                flex: 0 0 20% !important;
                max-width: 20% !important;
                //transform: translate3d(100%,0,0);   
                //opacity: 0;     
            }     
        }
        &:nth-child(2){
            .ais-Panel{
                z-index: 9;
                @include rating();
                
                &:nth-child(3){
                    .ais-Panel-header{
                        display: inline-block;
                        height: 100%;
                        vertical-align: top;
                    }
                    .ais-Panel-body{
                        width: 75%;
                        display: inline-block;
                        .ais-RefinementList-list{
                            padding: 0;
                            margin-bottom: 0;
                            .ais-RefinementList-item{
                                display: inline-block;
                                margin-right: 2rem;
                                
                            .ais-RefinementList-checkbox{
                                visibility: hidden;
                            }
                                .ais-RefinementList-labelText{
                                    margin-left: 4px;
                                    position: relative;
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        width: 9px;
                                        height: 9px;
                                        background: $dim-grey;
                                        top: 3px;
                                        left: -13px;
                                    }
                                }
                            }
                            .ais-RefinementList-item--selected{
                                .ais-RefinementList-label span::before{
                                    background-color: $aqua;
                                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                                    background-repeat: no-repeat;
                                    background-size: 78%;
                                    background-position: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
    
}
.cnc-facet-wrapper{
    @include facetWrapperzcommonStyles();
    .row{
        &:nth-child(1){
            .ais-Panel{
                .ais-RefinementList-count{
                    display: none;
                }
                &:nth-child(1){
                    width: 40%;
                    @include genre(70%);
                }
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {        
                    .ais-Panel-header{
                        display: inline-block;
                        height: 100%;
                        vertical-align: top;
                        margin: 0;
                    }
                    .ais-Panel-body{
                        display: inline-block;
                    }
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {  
                    width: 14%;
                    @include dropDown(92%, 15%);
                }
            }
        }
        &:nth-child(2){
            .ais-Panel{
                @include rating();
            }
        }
    }

}

.music-facet-wrapper{
    @include facetWrapperzcommonStyles();
    .row{
        .ais-Panel {
            &:nth-child(1){
                .ais-Panel-header{
                    display: inline-block;
                    height: 100%;
                    vertical-align: top;
                }
                .ais-Panel-body{
                    display: inline-block;
                }
                @include searchtab();
            }
            .ais-RefinementList-count{
                display: none;
            }
            &:nth-child(2), &:nth-child(3){
                .ais-Panel-header{
                    display: inline-block;
                    height: 100%;
                    vertical-align: top;
                }
                .ais-Panel-body{
                    width: 65%;
                    display: inline-block;
                    margin-left: 1rem;                    
                }
            }
            &:nth-child(2){
                width: 38%;
            }
            &:nth-child(3){
                width: 26%;
            }
        }
    }
}
.active-filters{
    font-size: 10px;
    color: $white;
    .active-filter-item{
        color: $light-grey;
        position: relative;
        &:hover{
            text-decoration: none;
        }
        &:hover::after{
            background: $aqua;
        }
        &::before, &::after{
            content: '';
            position: absolute;
        }
        &::before{
            top: 7px;
            right: 1px;
            width: 7px;
            height: 2px;
            background: $black;
            z-index: 1;
        }
        &::after{
            width: 13px;
            height: 13px;
            background: $light-grey;
            border-radius: 50%;
            top: 1px;
            right: -2px;
        }
    }
    .reset-active-filters{
        cursor: pointer;
        svg{
            width: 12px;
            margin-right: 3px;
            path{
                fill: $white;
            }
        }
    }
}

.range-slider{
    .noUi-horizontal{
        height: 3px;
        background: $dim-grey;
        border-radius: 4px;
        border: 1px solid $dim-grey;
        box-shadow: inset 0 1px 1px $dim-grey, 0 3px 6px -5px #BBB;
        .noUi-handle{
            width:  10px;
            height: 10px;
            left: -2px;
            top:  -5px;
            border-radius: 50%;
            border: 1px solid $aqua;
            border-radius: 50%;
            background: $aqua;
            cursor: pointer;
            box-shadow: none;
            &::before, &::after{
                display: none;
            }
        }
        .noUi-connect{
            background: $aqua;
            box-shadow: none;
            height: 2px;
            top: -1px;
        }
        .noUi-tooltip {
            //visibility: hidden;
            border: none;
            background: $dark-grey;
            color: $aqua;
            font-size: 10px;
            padding: 0px 2px;
           // visibility: hidden;
            //-webkit-transform: translate(-50%, 195%);
            //transform: translate(-50%, 195%);
        }
        .noUi-active .noUi-tooltip {
            visibility: visible;
        }
        

        .noUi-marker-horizontal.noUi-marker{
            visibility: hidden;
        }
        .noUi-pips-horizontal {
            padding: 0;
            left: 1%;
            .noUi-value {
                font-size: 10px;
            }
            .noUi-value-horizontal{
                transform: translate3d(-50%,-145%, 0);
            }
        }
        
    }
    .noUi-value-horizontal{
        visibility: hidden;
    }       
}
.range-slider-year{
    .noUi-value-horizontal{
        visibility: visible;
    }
} 
.range-slider-rating{
    .noUi-value-horizontal{
        visibility: visible;
    }
} 
.rating-range{
    .range-slider{
        width: 70%;
    }
   
}
.year-range{
    .range-slider{
        width: 80%;
    }
}

//$animationDelay: 1;
@for $i from 1 through 15 {
	.projects div:nth-of-type(#{$i}) {
		animation-delay: #{0.3+($i)/30}s;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes expand {
    50% {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 40px;
    }
    100% {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 100px;
    }
}

@keyframes rowExpand {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.filters {
    color: $white;
    form{
        margin: 0rem 0.4rem 0 0;
        background: #1a1a1a;
        padding: 0.7rem 1.2rem;
        height: 115px;
        .form-group {
            position: relative;
            z-index: 99;

            &:nth-child(2){
                overflow: hidden;
                opacity: 1;
                transition: opacity 0.5s ease;
                z-index: 9;
                //animation: fade-in 0.5s ease forwards;
            }
            .col-sm-5:nth-child(1){
                overflow: hidden;
                max-height: 30px;
            }
            label, span{
                font-size: 10px;
            }
            .search-cast {
                width: 70%;
                position: relative;
                
                .autocomplete-items {
                    position: absolute;
                    border: 1px solid $dim-grey;
                    border-bottom: none;
                    border-top: none;
                    z-index: 99;
                    /*position the autocomplete items to be the same width as the container:*/
                    top: 100%;
                    left: 0;
                    right: 0;
                    font-size: 10px;
                    div {
                        padding: 10px;
                        cursor: pointer;
                        background-color: $dim-grey;
                        border-bottom: 1px solid $dim-grey;
                        &:hover {
                            /*when hovering an item:*/
                            background-color: $dim-grey;
                          }
                      }
                      .autocomplete-active {
                        /*when navigating through the items using the arrow keys:*/
                        background-color: $aqua !important;
                        color: $white;
                      }
                    }
                  
                  .selected-items{
                    background-color: $dim-grey;
                    border-color: $dim-grey;
                    padding: 0.2rem 0.75rem;
                    border-radius: 0.1rem;
                    font-size: 10px;
                    margin: 0.2rem 0;
                    height: auto;
                    color: $white;
                      li{
                          list-style: none;
                      }
                    //position: relative;
                  }
            }
            .form-control{
                background-color: transparent;
                border-color: transparent;
                padding: 0rem 0.75rem;
                border-radius: 0.1rem;
                font-size: 10px;
                margin: 0;
                height: auto;
                color: $white;
            }
            .search-btn{
                background-color: transparent !important;
                border-color: transparent !important;
                position: absolute;
                top: 0;
                right: 2%;
                padding: 0;
                box-shadow: none !important;
    
                svg{
                    width: 13px;
                    path{
                        fill: $light-grey;
                    }
                }
            }

            .btn-group-toggle {
                flex-wrap: wrap;
                .ccExp-hide{
                    //transition: opacity 0.5s ease;
                    opacity: 0;
                    display: none;
                }
                .ccExp-show{
                    display: block;
                }
                .btn-primary{
                    text-transform: capitalize;
                    background-color: transparent !important;
                    border-color: transparent !important;
                    box-shadow: none !important;
                    color: $light-grey;
                    padding-top: 0.45rem;
                    white-space: nowrap;
                    flex-grow: 0;
                    //border-right: 1px solid $light-grey;
                    animation-name: fade-in;
                    animation-fill-mode: both;
                    animation-duration: 1s;

                    &:not(:last-child)::before{
                        content: '';
                        width: 1px;
                        height: 35%;
                        background-color: $light-grey;
                        position: absolute;
                        top: 35%;
                        right: 0;
                    }
                }   
                .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
                    color: $aqua;
                } 
            }            
            .ccExp-one{
                animation: 0.8s ease expand forwards;                
                .ccExp-hide{
                    opacity: 1;
                    display: block;
                }
                .ccExp-show{
                    display: none;
                }
            }


            .checkbox-cont{
                width: 78%;

                .custom-control{
                    margin-right: 5%;
                    padding-left: 10%;
                }
                .custom-control-label{
                    color: $light-grey;
                    &::before {
                        content: "";
                        width:  10px;
                        height: 10px;
                        background-color: $dim-grey;
                        border: $dim-grey solid 1px;
                        border-radius: 0;
                        top: 0.2rem;
                        left: -0.7rem;
                        box-shadow: none !important;
                    }
                    &::after{
                        top: 0.14rem;
                        left: -0.78rem;
                        width:  12px;
                        height: 12px;
                    }
                }
            }
            .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
                background-color: $aqua;
            }
            .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
            
            
            
            .stream-dropdown{
                transform: translate3d(0,0,0);
                transition: all 0.5s ease;
                @media screen and (min-width: 1280px) {
                    flex: 1 0 auto;
                }
                @media screen and (max-width: 767px) {
                    margin-bottom: .5rem;
                }
                .btn-primary{
                    width: 100%;
                    font-size: 10px;
                    background-color: $dim-grey !important;
                    border-color: $dim-grey !important;
                    box-shadow: none !important;
                    border-radius: 0.1rem;
                    padding-top:    2px;
                    padding-bottom: 2px;
                    text-align: left;
                    &::after {
                        width:  6px;
                        height: 6px;
                        border-right:  1px solid $white;
                        border-bottom: 1px solid $white;
                        border-top:  none;
                        border-left: none;
                        transform: rotate(46deg);
                        //margin-left: 5.5em;
                        vertical-align: 10%;   
                         position: absolute;
                        right: 8%;
                        top: 45%;
                    }
                }  
                
                .dropdown-menu{
                    min-width: 101%;
                    font-size: 10px;
                    color: $light-grey;
                    background-color: $dim-grey !important;
                    border: 1px solid rgba(0,0,0,.15);
                    border-radius: 0.1rem;
                    .dropdown-item{
                        color: inherit;
                        background-color: $dim-grey !important;
                        &:hover, &:active, &.active{
                            color: $aqua;
                        }
                    }
                    .dropdown-item__active{
                        color: $aqua;
                    }
                }
            }

            
            .ccExp-two, .ccExp-three, .ccExp-four, .ccExp-five{
                transform: translate3d(450%,0,0);                
            }
        
            
        }   
        
        .ccExp-six{
            opacity: 0 !important;
            //animation: rowExpand 0.5s ease forwards;
        }
    }
    .music-filter{
        height: 55px;
    }
}

.movie-facet-wrapper {
    &.movie-video-filter {
        padding: 1.2rem 2rem;
        margin: 0;
        .row {
            max-height: fit-content;
            .input-group {
                align-items: center;
                label {
                    margin-bottom: 0;
                }
                ::placeholder {
                    text-align: right;
                    color: #6c757d;
                }
                input {
                    height: 25px;
                    background: #484848;
                    border: none;
                    border-radius: 2px;
                }
            }
        }        
        &:nth-child(1){
            // overflow: hidden;
             .ais-Panel{
                 //transition: transform 0.2s ease;
                 transform: translate3d(0%,0,0);
                 z-index: 99;
                 .ais-RefinementList-count{
                     display: none;
                 }
                 &:not(:nth-child(1)) {
                     padding-left: 0;
                 }
                 &:nth-child(1) {
                    padding-right: 0;
                    padding-left: 0;
                    @media screen and (min-width: 1280px) {
                        flex: 0 0 25.333%;
                        max-width: 25.333%;
                    }
                    .ais-Panel-body {
                        width: 80%;
                        input {
                            width: 100%;
                        }
                    }
                 }
                 &:nth-child(2){
                     transition: all 0.4s ease;//, flex 0.7s ease 0.03s, max-width 0.7s ease 0.04s                     
                     max-height: 50px;
                     overflow: hidden;
                     @media screen and (min-width: 1280px) {
                        flex: 0 0 33.666667%;
                        max-width: 33.666667%;
                     }
                     .range-slider {
                        .noUi-horizontal {                            
                            .noUi-tooltip {
                                top: 120%;
                            }
                            .noUi-pips-horizontal {
                                .noUi-value-horizontal {
                                    transform: translate3d(-50%, 35%, 0);
                                }
                            }
                        }
                     }
                     @include genre(75%);
                     .ais-Panel-body {
                         width: 80%;
                         @media screen and (max-width: 767px) {
                             width: 75%;
                         }
                     }
                 }
                 &:nth-child(3){
                    transition: all 0.4s ease;//, flex 0.7s ease 0.03s, max-width 0.7s ease 0.04s
                    @media screen and (min-width:1280px) {
                        flex: 0 0 12.666667%;
                        max-width: 0 0 16.666667%;
                    }
                    .ais-Panel-body {
                        .dropdown {
                            .btn-primary {                                
                                padding: 4px 20px 6px;
                                @media screen and (min-width: 1280px) {
                                    width: 240px;
                                }
                            }
                        }
                    }
                }
                &:nth-child(4){
                    &.col-1 {
                        flex: 0 0 13.333%;
                        max-width: 13.333%;
                    }
                    .ais-Panel-body {
                        .dropdown {
                            .btn-primary {
                                width: 100%;
                                font-size: 10px;
                                background-color: #343a40 !important;
                                border-color: #343a40 !important;
                                box-shadow: none !important;
                                border-radius: 0.1rem;
                                padding-top: 2px;
                                padding-bottom: 2px;
                                padding: 4px 5px 5px 20px;
                                &::after {
                                    width: 6px;
                                    height: 6px;
                                    border-right: 1px solid #fff;
                                    border-bottom: 1px solid #fff;
                                    border-top: none;
                                    border-left: none;
                                    -webkit-transform: rotate(46deg);
                                    transform: rotate(46deg);
                                    margin-left: 1em;
                                    vertical-align: 10%;
                                }
                            }
                        }
                    }
                }
             }
         }
    }
 }



//  gallery filters 

.movie-facet-wrapper {
    &.gallery-filter {
        padding: 1.2rem 2rem;
        margin: 0;
        .row {
            max-height: fit-content;
            .input-group {
                align-items: center;
                label {
                    margin-bottom: 0;
                }
                ::placeholder {
                    text-align: right;
                    color: #6c757d;
                }
                input {
                    height: 25px;
                    background: #484848;
                    border: none;
                    border-radius: 2px;
                }
            }
        }        
        &:nth-child(1){
            // overflow: hidden;
             .ais-Panel{
                 //transition: transform 0.2s ease;
                 transform: translate3d(0%,0,0);
                 z-index: 99;
                 .ais-RefinementList-count{
                     display: none;
                 }
                 &:not(:nth-child(1)) {
                     padding-left: 0;
                 }
                 &:nth-child(1) {
                    padding-right: 0;
                    padding-left: 0;
                    @media screen and (min-width: 1280px) {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }                    
                    .ais-Panel-body {
                        width: 80%;
                        input {
                            width: 100%;
                        }
                    }
                 }
                 &:nth-child(2){
                     transition: all 0.4s ease;//, flex 0.7s ease 0.03s, max-width 0.7s ease 0.04s
                    @media screen and (min-width: 1280px) {
                        flex: 0 0 36.666667%;
                        max-width: 36.666667%;
                    }                     
                     max-height: 50px;
                     overflow: hidden;
                     .range-slider {
                        .noUi-horizontal {                            
                            .noUi-tooltip {
                                top: 120%;
                            }
                            .noUi-pips-horizontal {
                                .noUi-value-horizontal {
                                    transform: translate3d(-50%, 35%, 0);
                                }
                            }
                        }
                     }
                     @include genre(75%);
                     .ais-Panel-body {
                         width: 80%;
                     }
                 }
                 &:nth-child(3){
                    transition: all 0.4s ease;//, flex 0.7s ease 0.03s, max-width 0.7s ease 0.04s
                    @media screen and (min-width: 1280px) {
                        flex: 0 0 12.666667%;
                        max-width: 0 0 16.666667%;
                    } 
                    .ais-Panel-body {
                        .dropdown {
                            .btn-primary {
                                width: 240px;
                                padding: 4px 20px 6px;                            
                            }
                        }
                    }
                }
                &:nth-child(4){
                    &.col-1 {
                        @media screen and (min-width: 1280px) {
                            flex: 0 0 13.333%;
                            max-width: 13.333%;
                        }                         
                    }
                    .ais-Panel-body {
                        .dropdown {
                            .btn-primary {
                                width: 100%;
                                font-size: 10px;
                                background-color: #343a40 !important;
                                border-color: #343a40 !important;
                                box-shadow: none !important;
                                border-radius: 0.1rem;
                                padding-top: 2px;
                                padding-bottom: 2px;
                                padding: 4px 5px 5px 20px;
                                &::after {
                                    width: 6px;
                                    height: 6px;
                                    border-right: 1px solid #fff;
                                    border-bottom: 1px solid #fff;
                                    border-top: none;
                                    border-left: none;
                                    -webkit-transform: rotate(46deg);
                                    transform: rotate(46deg);
                                    margin-left: 1em;
                                    vertical-align: 10%;
                                }
                            }
                        }
                    }
                }
             }
         }
    }
 }

 .react-tags {
    position: relative;
    padding: 0 3px;
    // padding: 6px 0 0 6px;
    // border: 1px solid #D1D1D1;
    border-radius: 1px;
  
    /* shared font styles */
    font-size: 1em;
    line-height: 1.5;
    width: 80%;
    background-color: #484848;
  
    /* clicking anywhere will focus the input */
    cursor: text;

    display: flex;
    flex-wrap: nowrap;
    // overflow-x: auto;
    white-space: nowrap;
    .react-tags__suggestions {
        display: block !important;
    }
    .react-tags__selected {
        button {
            background-color: #1a1a1a;
            span {
                color: #03b4ed;
            }
        }
    }
    .react-tags__search {
        margin-bottom: 0;
        padding: 0;
        .react-tags__search-input {
            input {
                background: none !important;
            }
        }
    }    
  }
  
  .react-tags.is-focused {
    border-color: #B1B1B1;
  }
  
  .react-tags__selected {
    display: inline;
  }
  
  .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 2px;
    padding: 3px 8px;
    border: none;
    border-radius: 2px;
    background: #F1F1F1;
  
    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }
  
  .react-tags__selected-tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 8px;
  }
  
  .react-tags__selected-tag:hover,
  .react-tags__selected-tag:focus {
    border-color: #B1B1B1;
  }
  
  .react-tags__search {
    display: inline-block;
  
    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;
  
    /* prevent autoresize overflowing the container */
    max-width: 100%;
  }
  
  @media screen and (min-width: 30em) {
  
    .react-tags__search {
      /* this will become the offsetParent for suggestions */
      position: relative;
    }
  
  }
  
  .react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;
  
    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
  
    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }
  
  .react-tags__search input::-ms-clear {
    display: none;
  }
  
  .react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
  @media screen and (min-width: 30em) {
  
    .react-tags__suggestions {
      width: 240px;
    }
  
  }
  
  .react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: #1a1a1a;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
  }
  
  .react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
    color: #03b4ed;
  }
  
  .react-tags__suggestions li:hover {
    cursor: pointer;
  }
  
  .react-tags__suggestions li.is-active {
    background: #b7cfe0;
  }
  
  .react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
  }
  .react-tags__search-input input {
      background-color: transparent;
  }



@media screen and (max-width: 768px) {
    .music-filter {
        height: auto !important;
        margin: 0;
        .form-group {
            div {
                span {
                    display: inline-block;
                    width: 70px;
                }                
            }
            .year-range {
                .range-slider {
                    width: 70%;       
                }
            }
        }
    }
    .filter-btn {
        position: fixed;
        top: 15px;
        right: 15px;
        svg {
            width: 25px !important;
        }
    }
    .image-cont {
        margin-top: 40px;
    }
    @keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
    .filters {
        position: fixed;
        z-index: 999;
        top: 45px;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        form {
            height: auto !important;
            margin-right: 0;
            position:relative;
            animation: animateright 0.5s;
        }
    }
    .filter-cnc {
        form {
            height: 100vh !important;
            .form-group {
                .profession-filter {
                    margin-bottom: 20px;
                }
                .rating-range {
                    margin: 20px 0;
                }
                .year-range {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .filter-section {
        .ais-Panel {
            .ais-Panel-header {
                width: 50px;
            }
            &:nth-child(2) {
                margin-top: 10px;
            }
        }
        .certificate {
            .ais-Panel-body {
                margin-left: 25px;
            }
        }
    }
}